@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.bg-primary-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.primary-btn{
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.main-part{
    max-width: 1140px;
    margin: 0 auto;
}

/* nav-bar styles */
.body{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}


.header{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
   
}
.nav-bar{
    list-style: none;
    gap: 30px;
    
}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight:400;
    color: #424242;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
/* banner style */

.banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-content{
text-align: center;
margin: 0 auto;

}
.banner-heading{
    font-size: 3.5rem;
    font-weight:bold;
    margin-bottom: 30px;
}
.banner-description{
    font-size: .95rem;
    color:#969595;
    margin-bottom: 30px;
    margin-right: 165px;
    margin-left: 165px;
}
.banner-img{
    max-width: 100%;
    padding-bottom: 45px;
}
/* team section style */
.team-section{
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 85px auto 0 auto;
    gap:73px;
}
.our-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-member{
    width:250px;
    height: 250px;
}
.feature-title{
    font-size: 2.8rem;
    margin-bottom: 24px;

#quick-list{
    font-weight: normal;
    color: #727272;
}
}
.of-our{
   
   font-weight:900px;
    color: #131313; 
}
.feature-color{
    color: #FF900E;
}
.feature-description{
    font-size: .9rem;
    font-weight: normal;
    color: #727272;
    margin-bottom: 32px;
    
}
/* some facts styles */

.facts-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
.facts-description{
    font-size: 1rem;
    font-weight: normal;
    color: #727272;
    width: 542px;
    /* margin-bottom: 80px; */
    /* margin-right: 600px; */
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.facts-card{
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 1px solid #FF900E;
   border-radius: 8px;
   width: 200px;
   height: 200px;
   margin-right: 50px;
   margin-left: 50px;
    
}
.facts-image{
    margin-top: 45px;
    margin-bottom: 10px;
}
.facts-card-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #424242;
    margin-top: 0px;
    margin-bottom: 5px;
}
.facts-name{
    font-size: 1.2rem;
    font-weight: 500px;
    color: #727272;
    margin-top: 0px;
    margin-bottom: 58px;
}
/* sponsor styles */
.sponsor {
    max-width: 1440px;
    margin: 0 auto;
    
}
.our-sponsor{
    text-align: center;
    margin-top: 180px;

}
.sponsor-title{
    font-size: 2.8rem;
    font-weight: bold;
    color:#131313;
    text-align: center;
    margin-bottom: 24px;
}
.sponsor-description{
    font-size: 1rem;
    font-weight: normal;
    color: #727272;
    width: 542px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 50px;

}
.sponsor-company{
    justify-content: center;
    align-items: center;
    gap: 155px;
    margin-top: 0px;
    margin-left: 240px;
    margin-right: 240px;
    
}
.sponsor-image{
    filter: grayscale(100%);
    margin-bottom: 130px;
}
footer{
    max-width: 1440px;
    border-radius: 8px;
    margin: 0 auto;
    background: #FFF4E7;
    margin-top: 130px;
    margin-bottom: 216px;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 39px;
    font-size: 1.2rem;
    color: #424242;
}



@media screen and (max-width: 576px) {
     .nav-bar{
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-right: 28px;
    }
   
    .header{
        flex-direction: column;
    }
   
    .team-section{
        flex-direction: column;
    }
    .our-team{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 40px;
    }
    .banner-description{
        margin-left: 30px;
        /* margin-right: 20px; */
        width: 250px;
    }
    .our-features{
    margin-right: 30px;
    margin-left: 30px;
}
.facts-title{
   margin-left: 30px;
}
.facts-description{
   margin-left: 30px;
   /* width: 100%; */
   width: 250px;


}
.facts-container{
   grid-template-columns: repeat(1, 1fr);
   gap: 10px;
   margin-left: 30px;
}

.sponsor-company{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 200px;
    gap: 1px;
  
}
.sponsor-description{
    width: 300px;
}



}
@media screen and (min-width: 576px) and (max-width: 991px) {
    .nav-bar{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .header{
        flex-direction: column;
    }
  
    .team-section {
        flex-direction: column;
    }
    .head{
        padding-right: 50px;
        padding-left: 50px;
    }
    .banner-description{
       justify-content: center; 
    }
    .our-team{
        grid-template-columns: repeat (2, 1fr);
    }
    .our-features{
        padding-right: 147px;
        padding-left: 147px;
    }
    .facts-container{
    grid-template-columns: repeat(2, 1fr);
   }
   .facts-card{
    margin-left: 60px;
    gap: 20px;
   }
.facts-title{
    margin-left: 10px;
}
.facts-description{
    margin-left: 10px;
    margin-right: 20px;

}
.sponsor-company{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 275px;
    gap: 0px;
    margin-top: 50px;
  
}
.sponsor-description{
    margin: 0 auto;
}

    
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .nav-bar{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    .header{
        flex-direction: column;
    }
  
    .team-section {
        flex-direction: column;
    }
    .head{
        padding-right: 50px;
        padding-left: 50px;
    }
    .our-team{
        grid-template-columns: repeat (2, 1fr);
    }
    .our-features{
        padding-right: 147px;
        padding-left: 147px;
    }
.facts-container{
   grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.facts-card{
    margin-left: 165px;
}
.facts-title{
    margin-left: 10px;
}
.facts-description{
    margin-left: 10px;
    margin-right: 20px;

}
.sponsor-company{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 150px;
    gap: 0px;
  
}
.sponsor-company{
    margin-top: 50px;
    margin-left: 275px;
  
}
.sponsor-description{
    margin: 0 auto;
}

    
}

